@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&family=Nunito+Sans&family=Oswald:wght@500&display=swap');
// /////////////font

*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  border: none;
  color: inherit;
}

@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: silver;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
  header {
    display: flex;
    gap: 2em;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    white-space: nowrap;
    position: fixed;
    z-index: 1;
    margin-top: 1.5em;
    font-size: 1.3em;
    #top-logo {
      align-items: center;
      display: flex;
      gap: 1em;
      font-family: 'Nunito', Helvetica, Arial, sans-serif;
      font-size: 1.5rem;
      a {
        display: inline-block;
      }
      img {
        height: 1.5vh;
        width: auto;
      }
    }

    #top-nav {
      display: flex;
      li {
        margin-left: 1em;
      }
      li:first-child {
        margin-left: 0;
      }
    }
    @media screen and (max-width: 55em) {
      #top-nav {
        display: none;
      }
    }

    #top-socail_icon {
      display: flex;
      gap: 0.7em;
      font-size: 2rem;
    }
  }
  #main {
    #intro {
      @include align-center;
      flex-direction: column;
    }
  }

  .parallax_wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;

    .intro_screen {
      text-align: center;
      @include align-center;
      height: 100vh;
      background-image: url('./src/img/2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateZ(-300px) scale(2);
      h1 {
        color: brown;
        font-size: 1.5em;
        font-family: 'Exo', sans-serif;
       
      }
      div{
        font-size: 4em;
        font-family: 'Exo', sans-serif;
      }
      p{
        width: 50%;
      }
    }
    .outro_screen {
      height: 100vh;
      background-color: rgb(58, 195, 152);
      @include align-center;
    }
    .parallax_group {
      position: relative;
      height: 100vh;
      transform-style: preserve-3d;
      .parallax_layer {
        position: absolute;
        inset: 0;
        @include align-center;
      }
      .mid_layer {
        transform: translateZ();
      }
      .base_layer {
        transform: translateZ(-300px) scale(2);
      }
      // ///////////////////////////////////////

      // scale calcuation :1+((Z transform value *-1)/perspective)

      // }
      // .top_layer {
      //   transform: translateZ(-300px);
      // }
    }
  }
}
// /////////////////////////////////////
#intro,
#outro {
  z-index: 1;
}
#group-home {
  z-index: 2;
}
#bg {
  height: 200vh;
  width: 100vw;
  // background-color: aqua;
  background-image: url('/src/img/2.jpg');
  background-repeat: repeat;
  background-size: contain;
  position: absolute;
  margin-top: 100vh;
  z-index: -1;
  transform: translateZ(-300px) scale(2);
}

#group-home > .base_layer {
  background-color: rgba(239, 16, 16, 0.692);
  z-index: -100;
}

#group-home > .base_layer_extra {
  background-color: rgba(255, 0, 0, 0);
  position: relative;
}
#group-2 {
  background-color: black;
}

#group-block-mid-layer > .base_layer {
  background-color: rgb(123, 76, 76);
}
#group-2 > .base_layer {
  background-color: rgb(101, 0, 224);
}
#group-3 > .base_layer {
  background-color: rgb(40, 28, 131);
}
#group-4 > .base_layer {
  background-color: rgb(228, 225, 47);
}
#group-5 > .base_layer {
  background-color: rgb(212, 55, 197);
}
#group-6 > .base_layer {
  background-color: rgb(208, 128, 23);
}

// mid  mid  mid  mid  mid  mid  mid  mid  mid
#group-home .mid_layer {
  background-color: rgb(180, 37, 161);
  // background-image: url('./src/img/3.jpg');
}
#group-block-mid-layer {
  background-color: rgba(16, 154, 35, 0.645);
  // background-image: url('./src/img/1.jpg');
  height: 20vh;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  opacity: 1;
  text-align: start;
  text-overflow: ellipsis;
  overflow: hidden;
}

#group-2 .mid_layer {
  background-color: rgb(99, 56, 0);
  // background-image: url('./src/img/1.jpg');
}
#group-3 .mid_layer {
  background-color: rgb(207, 46, 175);
  // background-image: url('./src/img/3.jpg');
}
#group-4 .mid_layer {
  background-color: rgb(5, 237, 20);
  // background-image: url('./src/img/1.jpg');
}
#group-5 .mid_layer {
  background-color: rgb(157, 27, 133);
  // background-image: url('./src/img/3.jpg');
}
#group-6 .mid_layer {
  background-color: rgb(226, 200, 6);
  // background-image: url('./src/img/1.jpg');
}
// ///////////////////////////////////////
.nav-bg {
  background-color: silver;
  color: black;

  transition: 0.65s;
}

#type-writer::after {
  content: '|';
  color: silver;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}