//<!-- commont C&P -->//
//<!-- ⬇️⬇️⬇️⬇️⬇️⬇️ ⬇️⬇️⬇️⬇️⬇️⬇️ -->
//<!-- ⬆️⬆️⬆️⬆️⬆️⬆️ ⬆️⬆️⬆️⬆️⬆️⬆️ -->
//<!-- ⛔️⛔️⛔️⛔️⛔️⛔️ ⛔️⛔️⛔️⛔️⛔️⛔️ -->
//<!-- ✅✅✅✅✅✅ ✅✅✅✅✅✅ -->
//<!-- commont C&P -->//

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&family=Nunito+Sans&family=Oswald:wght@500&display=swap');
/////////////////////////font/////////////////////////////////

a,
*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  border: none;
  color: inherit;
  font-size: 1em;
}
a:hover {
  color: white;
}

@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin span-button {
  font-size: 0.8em;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1em;
  border: 0.15em rgba(192, 192, 192, 0.6) solid;
  padding: 0.1em 1em;
  margin-top: 1em;
  box-shadow: 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.2);
}

body,
html {
  box-shadow: 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.2);
  scroll-behavior: smooth;
  font-size: 1em;
  width: auto;
  height: 100%;
  color: silver;
  font-family: 'Nunito Sans', sans-serif;

  // overflow-y: scroll;
}
////////////////////////////////////////////////////////////////////
// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ aside ⬇️⬇️⬇️⬇️⬇️⬇️ -->
// aside {
//   position: fixed;
//   display: flex;
//   flex-direction: column;
//   width: 3%;
//   overflow-x: none;
//   grid-area: sidebar;
//   margin-top: 1vh;
//   background-color: #0080ffe7;
//   #sidebar {
//     height: 100vh;
//     width: 100vw;
//   }
//<!-- ⛔️⛔️⛔️⛔️⛔️⛔️ ⛔️⛔️⛔️⛔️⛔️⛔️ -->
// #sidebar-last {
//   position: relative;
//   padding-top: 80%;
// }

//   .uil {
//     display: flex;
//     align-items: center;
//     height: 2rem;
//     width: 30%;
//     text-decoration: none;
//     filter: grayscale(100%) opacity(0.7);
//     transition: 600ms;
//     color: silver;
//     margin-left: 0.5vw;
//     opacity: 0.9;
//   }
//   .uil:hover {
//     filter: grayscale(0%) opacity(1);
//     background: silver;
//     color: brown;
//     width: 30%;
//   }
// }
//<!-- ⛔️⛔️⛔️⛔️⛔️⛔️ ⛔️⛔️⛔️⛔️⛔️⛔️ -->

.side-navbar {
  z-index: 300;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}
.side-navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.side-nav-item {
  width: 100%;
}
// .side-nav-item:last-child {
//   margin-top: auto;
// }
.side-nav-link {
  display: flex;
  align-items: center;
  height: 1.6rem;
  color: brown;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.9);
  transition: 600ms;
}
.side-nav-link:hover {
  filter: grayscale(0%) opacity(0.9);
  background: silver;
  color: brown;
}
.side-link-text {
  display: none;
  margin-left: 0;
  font-size: 0.4em;
  padding-top: 0.2em;
}
.side-nav-link i {
  width: 1rem;
  min-width: 1rem;
  margin: 0 0.2rem;
  font-size: 0.6em;
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0rem;
  text-align: center;
  color: brown;
  background: rgba(192, 192, 192, 0);

  font-size: 1.2rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo i {
  transform: rotate(0deg);
  transition: 600ms;
}
.logo-text {
  padding: 0.2em 0 0 0.5em;
  font-size: 0.6em;
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600ms;
}
.side-navbar:hover .logo i {
  transform: rotate(-180deg);
}
/* default displays */
.side-navbar {
  top: 0;
  width: 2rem;
  height: 100vh;
}
.side-navbar:hover {
  width: 4rem;
}
.side-navbar:hover .side-link-text {
  display: inline;
}
.side-navbar:hover .logo i {
  margin-left: 2.8rem;
}
.side-navbar:hover .logo-text {
  left: 0px;
}
//<!-- ⬆️⬆️⬆️⬆️⬆️⬆️ aside ⬆️⬆️⬆️⬆️⬆️⬆️ -->

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect1 Intro_page_background  ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(1) {
  // sect1 Intro_page_background
  grid-area: sect1;
  // sect1 Intro_page_background
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  background-image: url('./src/img/2.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #1f72c5;
}

// <!-- ⛔️⛔️⛔️⛔️⛔️⛔️ ⛔️⛔️⛔️⛔️⛔️⛔️ -->
// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ added new sctions ⬇️⬇️⬇️⬇️⬇️⬇️ -->
// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect25 Intro_page_background_Gap ⬇️⬇️⬇️⬇️⬇️⬇️
section:nth-of-type(25) {
  grid-area: sect25;
  @include align-center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  top: 8em;
  background-color: #247d1600;
  #intro {
    position: relative;
    top: 4em;
    max-width: 60vw;
    height: auto;
    h1 {
      color: brown;
      font-size: 1.5em;
      font-family: 'Exo', sans-serif;
    }
    div {
      font-size: 1em;
      font-family: 'Exo', sans-serif;
    }
    p {
      font-size: 0.6em;
    }
    a {
      font-size: 0.8em;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 1em;
      border: 0.15em rgba(192, 192, 192, 0.6) solid;
      padding: 0.1em 1em;
      margin-top: 1em;
      box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2);
    }
  }
  @media (max-height: 40em), (max-width: 40em) {
    #intro {
      top: 1em;
      h1 {
        color: brown;
        font-size: 1em;
        font-family: 'Exo', sans-serif;
      }
      div {
        font-size: 0.6em;
        font-family: 'Exo', sans-serif;
      }
      p {
        display: none;
      }
      a {
        font-size: 0.5em;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 15px;
        border: 0.15em rgba(192, 192, 192, 0.6) solid;
        padding: 0.2em 0.8em;
        margin-top: 1.4em;
      }
    }
  }
}

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect2 AboutSection_img  ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(2) {
  width: 100%;
  height: auto;
  grid-area: sect2;
  background-color: rgb(40, 40, 40);
  @include align-center;
  // margin: 1em;
  div {
    @include align-center;
    img {
      height: auto;
      align-self: center;
      max-width: 35%;
      display: block;
      margin: 0.5em 0;
      border-radius: 0.3em;
    }
  }
}

//  <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect3 AboutSection_content  ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(3) {
  // sect3 AboutSection_content
  grid-area: sect3;
  // sect3 AboutSection_content
  background-color: rgb(40, 40, 40);
  @include align-center;
  // margin: 1em;
  // border-radius: 0.8em;
  #about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5em;
    h2 {
      font-size: 2em;
      font-family: 'Exo', sans-serif;
    }
    h2,
    p {
      margin: 0.5em 1em;
      display: inline-block;
      text-align: center;
    }
    span {
      @include span-button();
      font-size: 1em;
      margin-bottom: 1em;
    }
    #skills-content{
      height: 0vh;
      width: 100%;
      background-color: #1060b1;
    }
  }
}

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect4 Services_Page_Header ⬇️⬇️⬇️⬇️⬇️⬇️ -->
// same_headerStyle-sect4,15,19
section:nth-of-type(4),
section:nth-of-type(15),
section:nth-of-type(19) {
  // sect4 Services_Page_Header
  grid-area: sect4;
  // sect4 Services_Page_Header
  background-color: rgba(25, 25, 25, 1);
  @include align-center;
  padding: 1em 0 1em;
  div {
    text-align: center;
    max-width: 75vw;
    @include align-center;
    flex-direction: column;
    h2 {
      margin-bottom: 1em;
      font-family: 'Exo', sans-serif;
    }
    p {
      font-size: 0.5em;
    }
  }
}

// <!-- ✅✅✅✅✅✅ ✅✅✅✅✅✅ -->
// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect5-10 service_1-6 ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(5) {
  grid-area: sect5;
  height: auto;
  width: 100%;
}

section:nth-of-type(6) {
  grid-area: sect6;
  height: auto;
  width: 100%;
}
section:nth-of-type(7) {
  grid-area: sect7;
  height: auto;
  width: 100%;
}
section:nth-of-type(8) {
  grid-area: sect8;
  height: auto;
  width: 100%;
}
section:nth-of-type(9) {
  grid-area: sect9;
  height: auto;
  width: 100%;
}
section:nth-of-type(10) {
  grid-area: sect10;
  height: auto;
  width: 100%;
}

.servers_items {
  box-shadow: 0.5em 0.5em 0.1em rgba(0, 0, 0, 0.2);
  gap: 0.1em;
  height: 100%;
  width: 100%;
  padding: 0.2em 0.5em 0.6em 1.4em;
  font-size: 1em;
  background-color: rgba(25, 25, 25, 1);
  display: flex;
  flex-direction: row;
  // border: 1px solid silver;
  // border-radius: 1em;

  i {
    font-size: 2em;
    color: brown;
  }
  h3 {
    font-size: 1em;
  }
  .service-preview {
    font-size: 0.5em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: auto;
    overflow-x: hidden;
  }
  //<!-- ⛔️⛔️⛔️⛔️⛔️⛔️ Try_It_later⛔️⛔️⛔️⛔️⛔️⛔️ -->
  // .servers_items_continue > *:not(:first-child) {
  //   margin-block-start: 0%;
  //   color: #59e015;
  // }
  //<!-- ⛔️⛔️⛔️⛔️⛔️⛔️ Try_It_later⛔️⛔️⛔️⛔️⛔️⛔️ -->
}

// <!-- ⬆️⬆️⬆️⬆️⬆️⬆️ sect5-10 service_1-6 ⬆️⬆️⬆️⬆️⬆️⬆️ -->
// <!-- ✅✅✅✅✅✅ ✅✅✅✅✅✅ -->

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect11 bank_with_us ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(11) {
  width: 10vw;
  height: auto;
  margin: 1em 0 1.5em;
  // sect11 HireMe
  grid-area: sect11;
  // sect11 HireMe
  width: 100vw;
  background-color: #1060b100;
  div {
    @include align-center;
    display: flexbox;
    flex-direction: column;
    h2 {
      font-size: 2em;
      font-family: 'Exo', sans-serif;
    }
    span {
      @include span-button();
    }
  }
}

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect12 Testimonials_Header ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(12) {
  grid-area: sect12;
  width: 100%;
  background-color: rgba(40, 40, 40, 1);
  @include align-center;
  padding: 1em 0 1em;
  div {
    text-align: center;

    @include align-center;
    flex-direction: column;
    h2 {
      margin-bottom: 1em;
      font-family: 'Exo', sans-serif;
    }
    p {
      font-size: 0.5em;
    }
  }
}

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect13 Testimonials_Content ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(13) {
  box-shadow: 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.2);
  grid-area: sect13;
  width: 100vw;
  height: auto;

  .carousel-inner {
    width: 100vw;

    .carousel-item {
      // display: flex;
      // @include align-center();
      width: 100%;
      height: auto;
      .carousel-caption {
        top: 20%;
        color: silver;
        font-size: 1em;
        h5 {
          font-size: 0.5em;
        }
        p {
          font-size: 1em;
        }
        i {
          color: brown;
          font-size: 1.5em;
        }
      }
    }
  }

  #testimonials-content-img {
    border-radius: 100%;
    width: 8vw;
    margin-left: 45vw;
    margin-bottom: 45%;
  }

  background-color: rgba(40, 40, 40, 1);
  border-radius: 0 0 30% 30%;
}

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect14 Already_bank_Header ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(14) {
  position: relative;
  // top:0vh  ;
  // sect14 Portfolio_Header
  grid-area: sect14;
  // sect14 Portfolio_Header

  top: -60%;
  height: 100vh;
  margin-bottom: -60vh;
  z-index: -1;
  #already_bank-header {
    @include align-center();
    flex-direction: column;
    text-align: center;
    max-width: 75vw;
    h2 {
      margin-bottom: 0em;
      font-family: 'Exo', sans-serif;
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
      color: brown;
    }
  }

  background-color: rgba(25, 25, 25, 1);
  @include align-center;
  flex-direction: column;
  // 
  
  // 
}

// <!-- ⛔️⛔️⛔️⛔️⛔️⛔️ ⛔️⛔️⛔️⛔️⛔️⛔️ -->
// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ added new sctions ⬇️⬇️⬇️⬇️⬇️⬇️ -->
// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect26 Already_bank_main ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(26) {
  box-shadow: 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.2);
  grid-area: sect26;
  background-color: #1060b1;
  #already_bank-main {
    width: 100vw;
    height: 50vh;
    background-color: rgba(25, 25, 25, 1);
   
    @include align-center();
  }
  // 
  .categories-container {
    display: flex;
  
    width: 100%;
   
    height: 40%;
  }
  
  .categories-panel {
    // box-shadow: 0.5em 0.5em 0.1em rgba(0, 0, 0, 0.2);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 0 10px;
    position: relative;
    @include align-center();
    -webkit-transition: all 700ms ease-in;
   
  }
  
  .categories-panel h3 {
    font-size: 1em;
    position: absolute;
    bottom: -10vh;
  display: inline-block;
    
    opacity: 0;
    color: silver;
    
  }
  
  .categories-panel.active {
    flex: 5;
  }
  
  .categories-panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  @media (max-width: 480px) {
    .categories-container {
      width: 100vw;
    }
  
    .categories-panel:nth-of-type(4),
    .categories-panel:nth-of-type(5) {
      display: none;
    }
  }
  // 
}


// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect15 Blog_Header ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(15) {
  grid-area: sect15;
  background-color: rgba(40, 40, 40, 1);
}

// <!-- ✅✅✅✅✅✅ ✅✅✅✅✅✅ -->
// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect16,17,18 Blog_Item_1-2-3 ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(16),
section:nth-of-type(17),
section:nth-of-type(18) {
  grid-area: sect16;
  background-color: rgba(40, 40, 40, 1);

  .blog-item {
    box-shadow: 0.5em 0.5em 0.25em rgba(0, 0, 0, 0.2);
    min-height: 85%;
    margin: 1em;

    border: rgba(192, 192, 192, 0.3) solid 1px;
    p {
      padding: 0.3em;
      width: 100%;
      max-height: 10vh;
      display: inline-block;
      object-fit: cover;
      font-size: 0.4em;
      text-align: center;
      overflow-x: hidden;
      overflow-y: auto;
    }
    h2 {
      text-align: center;
      margin: 1.5em 0;
    }
    .blog-img {
      img {
        width: 100%;
      }
    }
  }
}
section:nth-of-type(17) {
  grid-area: sect17;
  // background-color: #1060b1;
}
section:nth-of-type(18) {
  grid-area: sect18;
  // background-color: #1060b1;
}
// <!-- ⬆️⬆️⬆️⬆️⬆️⬆️ sect16,17,18 Blog_Item_1-2-3 ⬆️⬆️⬆️⬆️⬆️⬆️ -->
// <!-- ✅✅✅✅✅✅ ✅✅✅✅✅✅ -->

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect19 Contact_Us_Header ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(19) {
  grid-area: sect19;
  // background-color: #1060b1;
}

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect20 Contact_Us_Form_1 ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(20) {
  font-size: 0.5em;
  width: auto;
  height: 100%;
  grid-area: sect20;
  background-color: rgba(25, 25, 25, 1);

  #form-wrapper {
    margin-top: 1em;

    @include align-center();
    flex-direction: column;
    gap: 2em;
    .form {
      overflow: hidden;
      width: 50%;
      padding: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      input {
        width: 100%;
        height: 100%;
        padding-top: 20px;
        color: silver;
        border: none;
        background-color: rgba(25, 25, 25, 1);
      }
      label {
        position: absolute;
        bottom: 0px;
        left: 0%;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid silver;
      }
      label::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -1px;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid brown;
        transform: translateX(-100%);
        transition: all 0.3s ease;
      }
      .label-content-name {
        position: absolute;
        bottom: 0px;
        left: 0px;
        transition: all 0.3s ease;
      }
      input:focus + .label-name .label-content-name,
      input:valid + .label-name .label-content-name {
        transform: translateY(-100%);
        font-size: 1.35em;
        bottom: -13px;
        color: brown;
      }
      input:focus + .label-name::after,
      input:valid + .label-name::after {
        transform: translateX(0%);
      }
    }
  }
}

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect21 Contact_Us_Form_2 ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(21) {
  font-size: 0.5em;
  padding-top: 5%;
  width: 100%;
  height: auto;
  top: 0;
  grid-area: sect21;
  background-color: rgba(25, 25, 25, 1);
  @include align-center();

  #message_form {
    @include align-center();

    width: 99%;
    height: 100%;
    max-width: 60%;
    border: silver 1px solid;
    border-radius: 1em;

    #form-textarea {
      padding: 1em;
      margin: 2em;
      height: 100%;
      width: 80%;
      overflow: hidden;

      background-color: rgba(25, 25, 25, 1);
    }
  }
}

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect27 Contact_Us_Form_Button ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(27) {
  width: 100%;
  height: 5vh;
  grid-area: sect27;
  background-color: rgba(25, 25, 25, 1);
  div {
    width: 100%;
    height: auto;
    @include align-center();
    span {
      text-align: center;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 15px;
      border: 0.15em silver solid;
      font-family: 'Nunito', Helvetica, Arial, sans-serif;
      padding: 0.15em 1.2em;
      height: auto;
      max-width: 12em;
      margin-top: 1.5em;
      font-size: 0.6em;

      button {
        background-color: rgba(25, 25, 25, 1);
      }
    }
  }
}

// <!-- ⬇️⬇️⬇️⬇️⬇️⬇️ sect22-24 Contact_Form_Item_1-3 ⬇️⬇️⬇️⬇️⬇️⬇️ -->
section:nth-of-type(22),
section:nth-of-type(23),
section:nth-of-type(24) {
  grid-area: sect22;
  background-color: rgba(25, 25, 25, 1);
  div {
    width: 100%;
    height: auto;
    padding: 1em;
    @include align-center();
    flex-direction: column;
    i,
    h2,
    p {
      margin: 0.2em;
      display: inline-block;
    }
    p {
      font-size: 0.4em;
    }
    i {
      font-size: 1.5em;
      color: brown;
    }
  }
}
section:nth-of-type(23) {
  grid-area: sect23;
  // background-color: #1060b1;
}
section:nth-of-type(24) {
  grid-area: sect24;
  // background-color: #1060b1;
}
// <!-- ⬆️⬆️⬆️⬆️⬆️⬆️ sect22-24 Contact_Form_Item_1-3 ⬆️⬆️⬆️⬆️⬆️⬆️ -->

footer {
  grid-area: footer;
  background-color: silver;
  color: brown;
  height: 100%;
  font-size: 0.8em;
  div {
    max-height: 2%;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;

    p {
      margin-top: 1vh;
      display: block;
      font-size: 0.5em;
    }
    #footer_icons {
      i {
        margin: 0 0.3em;
        color: brown;
      }
    }
  }
}
////////////////////////////////////////////////////////////////////
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  // header{display: none;}
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 0 1fr;

  header {
    display: none;
  }

  grid-template-areas:
    'sidebar header'
    'sidebar sect1'
    'sidebar sect25' //sect25 add
    'sidebar sect2'
    'sidebar sect3'
    'sidebar sect4'
    'sidebar sect5'
    'sidebar sect6'
    'sidebar sect7'
    'sidebar sect8'
    'sidebar sect9'
    'sidebar sect10'
    'sidebar sect11'
    'sidebar sect12'
    'sidebar sect13'
    'sidebar sect14'
    'sidebar sect26' //sect26 add
    'sidebar sect15'
    'sidebar sect16'
    'sidebar sect17'
    'sidebar sect18'
    'sidebar sect19'
    'sidebar sect20'
    'sidebar sect21'
    'sidebar sect27' //sect27 add
    'sidebar sect22'
    'sidebar sect23'
    'sidebar sect24'
    'sidebar footer';
}

@media only screen and (min-width: 35em) {
  body {
    aside {
      display: none;
    }
    header {
      // Header
      grid-area: header;
      //  Header
      position: fixed;
      width: 100vw;
      height: auto;
      display: flex;
      gap: 0em;
      justify-content: space-around;
      top: 0;
      left: 0;
      right: 0;
      align-items: center;
      white-space: nowrap;
      position: fixed;
      z-index: 100;

      font-size: 0.8em;
      #top-logo {
        align-items: center;
        display: flex;
        gap: 1em;
        font-family: 'Nunito', Helvetica, Arial, sans-serif;
        font-size: 1.5rem;
        a {
          display: inline-block;
        }
        img {
          height: 1.5vh;
          width: auto;
        }
      }

      #top-nav {
        padding-top: 1.5vh;

        font-size: 0.65em;
        display: flex;

        li {
          margin-left: 1em;
        }
        li:first-child {
          margin-left: 0;
        }
      }
      @media screen and (max-width: 60em) {
        #top-nav {
          display: none;
        }
      }

      #top-socail_icon {
        display: flex;
        gap: 0.7em;
        font-size: 2rem;
      }
    }
    font-size: 2em;
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    //gridTemplate-columns 0 1   2   3   4   5    6
    grid-template-columns: 0 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
      'sidebar header header header header header header'
      'sidebar sect1 sect1 sect1 sect1 sect1 sect1'
      'sidebar sect25 sect25 sect25 sect25 sect25 sect25' //add25
      'sidebar sect2 sect2 sect2 sect3 sect3 sect3 '
      'sidebar sect4 sect4 sect4 sect4 sect4 sect4'
      'sidebar sect5 sect5 sect6 sect6 sect7 sect7'
      'sidebar sect8 sect8 sect9 sect9 sect10 sect10'
      'sidebar sect11 sect11 sect11 sect11 sect11 sect11'
      'sidebar sect12 sect12 sect12 sect12 sect12 sect12'
      'sidebar sect13 sect13 sect13 sect13 sect13 sect13'
      'sidebar sect14 sect14 sect14 sect14 sect14 sect14'
      'sidebar sect26 sect26 sect26 sect26 sect26 sect26' //add26
      'sidebar sect15 sect15 sect15 sect15 sect15 sect15'
      'sidebar sect16 sect16 sect17 sect17 sect18 sect18'
      'sidebar sect19 sect19 sect19 sect19 sect19 sect19'
      'sidebar sect20 sect20 sect20 sect21 sect21 sect21'
      'sidebar sect27 sect27 sect27 sect27 sect27 sect27' //add27
      'sidebar sect22 sect22 sect23 sect23 sect24 sect24'
      'sidebar footer footer footer footer footer footer';
  }
}

#type-writer::after {
  content: '|';
  color: silver;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
.nav-bg {
  color: rgba(0, 0, 0, 0.9);
  background-color: silver;
}
